---
layout: blog/default
---

<div class="home">
  {% for post in paginator.posts  limit 3 %}
	<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a><h2><br>
	<h5>{{ post.date | date_to_string }}</h5>

	{{ post.content | strip_html | truncatewords:75}}
	<br>
	<a href="{{ post.url }}">Read more...</a><br><br>
  {% endfor %}

  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div> 

  {%- if site.posts.size > 0 -%}


    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

</div>
