<section id="services">
<!-- Page Content -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Blog</h2>
                <div class="lead">
                    <a href="blog/index.html" target="_blank">Blog</a>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/services/blog.png" alt="">
            </div>
        </div>

    </div>


</div>

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Projects</h2>
                <div class="lead">
                    <ul>
                        <li><a href="https://hackage.haskell.org/package/qchas" target="_blank">QCHas</a></li>
                        <li><a href="https://github.com/ardeleanasm/input_capture_driver" target="_blank">Linux Input Capture Driver</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <!-- <img class="img-responsive" src="img/services/{{ post.img }}" alt=""> -->
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

</section>
